@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  font-weight: bold;
}
body {
  font-family: "Open Sans", "Areal", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.red-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #de2e54;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.red-button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* header */
.header {
  padding-bottom: 24px;
  padding-top: 24px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-links {
  display: flex;
  gap: 32px;
}
.header-link {
  color: #252420;
}
.header-link:hover {
  color: #de2e54;
}

/* hero */

.hero {
  background-color: #0eb4c1;
  padding-top: 29px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0px;
  width: 100%;
  max-width: 893px;
}
.hero-text {
  color: #ffffff;
  margin-top: 59px;
  margin-bottom: 36px;
  width: 100%;
  max-width: 440px;
}

/* service */

.services-name {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0px;
  margin-top: 120px;
  margin-bottom: 56px;
  text-align: center;
}
.service-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.service-contant {
  margin-left: 64px;
  width: 100%;
  max-width: 600px;
}
.service-title {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0px;
  margin-bottom: 24px;
}
.red-button-main {
  display: inline-block;
  padding: 12px 24px;
  background-color: #de2e54;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 120px;
}
.footer-button {
  text-align: center;
}
/* contact */

.contact {
  background-color: #0eb4c1;
}
.contact-title {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding-top: 64px;
  padding-bottom: 40px;
}
.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 64px;
}
.contact-button {
  color: #ffffff;
  width: auto;
  border: 2px solid white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact-button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* footer */

.footer {
  background-color: #222222;
}
.footer-links {
  display: flex;
  gap: 32px;
}
.footer-link {
  color: #ffffff;
}
.footer-link:hover {
  color: #de2e54;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
